.nav-menu{
  display: flex;
  flex-direction: row;
  
}
.nav-menu li{
  padding: 0 15px;
  padding-right: 25px;
  margin-right: 10px;
}
.nav-menu :hover{
  color: greenyellow;
  transition: none;
}

.nav-menu li a{
  font-size: 20px;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}
.header-bg{
  background-color: rgba(0,0,0,0.8);
  transition: 0.5s;
}
.hamburger{
  display: none;
  cursor: pointer;
}
/* Navbar.css */

.activitytab {
  /* Your active styling here e.g.: */
  color: red;
  font-weight: bold;
  /* ... other styles ... */
}
.activitytab {
  /* Your active styling here: */
  text-decoration: underline;  /* Add underline to active link */
  /* ... other styles ... */
}

/* Optional: If you also want to show the underline when hovering over the link */
.nav-menu li:hover a {
  text-decoration: underline;
}


@media screen and (max-width: 940px){
  .nav-menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    background: black;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.5s ease-in;
  }
  .nav-menu.active{
    left: 0;

  }
  .nav-menu li{
    padding: 20px 15px;
  }
  .nav-menu :hover{
    color: greenyellow;
    transition: none;
  }
  .nav-menu li a{
    font-size: 35px;
  }
  .hamburger{
    display: initial;
  }
}
