  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit" ,sans-serif;
   
    
  }
  *{
    cursor: none;margin: 0;  padding: 0;
  }
  body{
     background: black;
  }
  .btn{
    padding: 12px 12px;
    font-size: 15px;
    cursor: none;
  }
  h1,h4, a, p{
    color: white;
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  .btn{
    padding: 12px 32px;
    font-size: 15px;
    cursor: none;
    text-transform: uppercase;
    background: greenyellow;
    color: black;
    border: 1px solid white;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-light{
    background: transparent;
    color: white;
  }
  .btn:hover{
      background: black;
      color: white;
      transition: 0.3s;
  }